<!-- CradleCMS drawer cart component, version 1.1.0 -->
<template id="drawer-cart-template">
<div x-data="{ ...drawerCart(), ...$el.parentElement.data() }" x-cloak>
    <div class="acart">
        <header>
            <span>{{ 'CART' | t:'cart' }}</span>
            <button class="close" @click.prevent="toggleOpen()">&times;</button>
        </header>
        <main class="items">
            <template x-for="(item,i) in cart.items" x-key(i)>
                <article>
                    <figure>
                        <template x-if="item.image">
                            <img :src="`/media/product/${item.productId}/${resizeImage(item.image,thumb,true)}`" :alt="item.title">
                        </template>
                    </figure>
                    <aside>
                        <div class="title">
                            <a :href="`{{'product' | url}}/${item.handle}/${item.variantId}`">
                                <h5 x-text="item.title"></h5>
                            </a>
                            <span class="trash" @click.prevent="setQuantity(i,0)">&times;</span>
                        </div>
                        <div class="amount">
                            <span class="quantity">
                            	<button class="minus" @click="setQuantity(i,item.quantity-1)">-</button>
                            	<input type="number" name="quantity" min="0" max="10" x-model="item.quantity" @change="setQuantity(i,$event.target.value)">
                            	<button class="plus" type="button" @click="setQuantity(i,item.quantity+1)">+</button>
                            </span>
                            <var class="money" x-text="money(cart,item.amount)"></var>
                        </div>
                    </aside>
                </article>
            </template>
            <template x-if="!cart.items">
                <article><h5>{{'Your cart is empty' | t:'cart'}}</h5></article>
            </template>
        </main>
        <template x-if="cart.items">
        <footer>
            <dl class="tax">
                <dt>{{'VAT' | t:'cart'}}</dt>
                <dd><var class="money" x-text="money(cart, cart.amount.vat)"></var></dd>
            </dl>
            <dl class="total">
                <dt>{{'Total' | t:'cart'}}</dt>
                <dd><var class="money" x-text="money(cart, cart.amount.total)"></var></dd>
            </dl>
            <button :class="button" @click="document.location = url">{{'Go to Checkout' | t:'cart'}}</button>
        </footer>
        </template>
    </div>
</div>
<style>
:root {
    --cart-width: 20rem;
    --cart-offset: 0;
    --cart-height: 100vh;
}
.acart-wrapper {
    position: relative;
    --bg: #fafafa;
    --fg: #555;
    --b: 1px solid #00000022;
    --br: 3px;
    --t: 0;
    --tn: 50px;
    --o: var(--cart-offset);
    --s: 0px 4px 10px #00000044;
}
.acart {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: var(--cart-offset);
    right: calc(var(--cart-width)*-1 - 2rem);
    width: var(--cart-width);
    height: var(--cart-height);
    max-height: calc(100% - var(--o));
    max-width: 100%;
    background: var(--bg);
    color: var(--fg);
    border-color: var(--b);
    z-index: 1000;
    visibility: none;
    box-shadow: var(--s);
}
.acart article > h5 {
    margin: 0 auto;
}
.acart.open {
    visibility: visible;
    animation: cart-slide-in 0.2s linear forwards;
}
.acart.close {
    visibility: visible;
    animation: cart-slide-out 0.2s linear forwards;
}
@keyframes cart-slide-in {
  to { right: 0rem }
}
@keyframes cart-slide-out {
  from {right: 0 }
  to { right: calc(var(--cart-width)*-1 - 2rem) }
}   
.acart header {
    margin: 0;
    padding: 1em;
    border-bottom: var(--b);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.acart header span {
    font-weight: 700;
    font-size: 0.8rem;
}
.acart header button {
    padding:0;
    margin:0;
    display: block;
    cursor: pointer;
    background: transparent;
    border:none;
    color: inherit;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1rem;
    place-self: baseline;
    height: 1rem;
    transition: all 0.2s linear;
}
.acart header .close:hover {
    transform: rotate(44deg);
}
.acart main {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior: contain;
}
.acart article {
    padding: 0.25rem 1rem;
    display: flex;
    gap:0.5rem;
    margin-bottom: 1rem;     
}
.acart article figure {
    flex-shrink: 0;
}
.acart article figure img {
    width: var(--tn);
    height: var(--tn);
    border-radius: var(--br);
    border: var(--b);
}
.acart article aside {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.4rem 0;
}
.acart article aside div {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}
.acart article aside a:hover {
    text-decoration: underline;
}
.acart article aside .title {
    margin-top: -0.3rem;
    font-weight: 700;
    font-size: 0.8rem;
}
.acart article aside .amount {
    margin-top: 0.2rem;
}
.acart article aside .amount var {
    font-size: 0.9rem;
}
.acart article aside .trash {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.1rem 0.2rem;
    margin: 0;
    display: block;
    background: transparent;
    border: none;
    color: inherit;
    font-weight: 200;
    margin-left: auto;
    place-self: start;
    line-height: 1;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}
.acart article aside .quantity {
    display: flex;
	overflow: hidden;
	border: var(--b);
	border-radius: var(--br);
}
.acart article aside .quantity * {
	background: transparent;
	color: inherit;
	font-size: inherit;
	border: none;
	display: inline-block;
	min-width: 0;
	height: 1.5rem;
	line-height: 1;
	&:focus {
		outline: none;
	}
}
.acart article aside .quantity input {
	width: 1.5rem;
	min-width: 0;
	display: inline-block;
	text-align: center;
	font-size: 0.8rem;
	appearance: textfield;
}
.acart article aside .quantity button {
	padding: 0;
	cursor: pointer;
	width: 1.5rem;
	font-size: 1rem;
	font-weight: normal;
	overflow: hidden;
	position: relative;
	&.minus {
		border-right: var(--b);
	}
	&.plus {
		border-left: var(--b);
	}
}
.acart footer {
    border-top: var(--b);
    margin: 0;
    padding: 0.5em 1em;
    margin-top: auto;
}
.acart footer dl {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 0;
}
.acart footer .total {
    font-size: 1rem;
    font-weight: 600;
}
.acart footer button {
    margin: 1rem auto;
    width: 100%;
}
</style>
</template>
<script>
function drawerCart() { return {
    open: false,
    cart: {},
    target: "cart-button",
    acart: undefined,
    thumb: "50x50",
    url: "{{'/checkout' | url }}",
    button: "btn btn-primary",
    currencies: {},
    init() {
        let cartButton = document.getElementById(this.target);
        cartButton.addEventListener('click', (ev) => {
            this.toggleOpen()
        })
        
        this.el = this.el.querySelector(".acart")
        // component css variables
        if(this.background) {
            this.el.style.setProperty("--bg",this.background);
        }
        if(this.color) {
            this.el.style.setProperty("--fg",this.color);
        }
        if(this.border) {
            this.el.style.setProperty("--b",this.border);
        }
        if(this.radius) {
            this.el.style.setProperty("--br",this.radius);
        }
        if(this.thumb) {
           this.el.style.setProperty("--tn",parseInt(this.thumb)+'px'); 
        }
        if(this.shadow) {
            this.el.style.setProperty("--s",this.shadow);
        }
    },
    async fetch() {
        let r = await fetch('/cart.json');
        this.cart = await r.json();
    },
    toggleOpen() {
        this.open = !this.open;
        if(this.open) {
            this.fetch();
            this.el.classList.remove("close");
            this.el.classList.add("open");
        } else {
            this.el.classList.add("close");
            this.el.classList.remove("open");
        }
    },
    resizeImage: function(image, size, crop) {
        var src, suffix = "";
        
        if (typeof(crop) === 'boolean' && crop === true) {
            crop = "cropped";
        }
        
        if (typeof(image) == 'string') {
            src = image;
        } else if (typeof(image) == 'object' && image.hasOwnProperty('img')) {
            src = image.src;
        } else {
            return ""
        }
        
        if(src.lastIndexOf(".svg") > 0) {
            return src
        };
                
        if(typeof(size) === 'string'){
            if(size.indexOf('_') > 0) {
                suffix = '_' + size;
            }
            else if (size.indexOf('x') > 0) {
              suffix = '_' + size.split('x').join('_');
            } else {
              suffix = '_' + size + '_' + size;
            }
        } else {
            suffix = '_' + size + '_' + size;
        }
    
        if (crop && suffix.indexOf('_cropped') < 0) {
            suffix += '_' + crop;
        }
        
        let dotpos = src.lastIndexOf('.');
        return src.slice(0,dotpos) + suffix + src.slice(dotpos);
    },
    setQuantity(i,q) {
        q = parseInt(q)
        if(q < 0 || q == NaN) return;
        
        const item = this.cart.items[i];
        
        let update = {items:{}};
        update.items[item.id] = q;
        
        fetch("/cart_update", {
            method: "PUT",
            body: JSON.stringify(update),
            credentials: "include",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
            },
        }).then(res => {
            if (!res.ok) throw "failed to update quantity";
            this.fetch();         
        }).catch(err => {
            console.error(err);
            alert(err);
        });
    },
    money(item, value) {
        let locale = item.lang + "-" + item.country;
        const c = new Intl.NumberFormat(locale, {
            style: 'currency',
            currency: item.currency,
            currencyDisplay: "narrowSymbol"
        }); 
        return c.format(value / 1000);
    }
}}
// registers <a-drawer-cart> component
class drawerCartComponent extends HTMLElement {
    #data
    connectedCallback() {
        // we don't use shadow DOM due to interaction with external dependencies
        this.className="acart-wrapper";
        const template = document.getElementById('drawer-cart-template');
        
        this.append(template.content.cloneNode(true))
        
        this.#data = {el:this};
        this.getAttributeNames().map(attr => {
            this.#data[attr] = this.getAttribute(attr)
        })
        
        // :root css variables
        if(this.#data.hasOwnProperty("width")) {
            document.documentElement.style.setProperty("--cart-width",this.#data.width);
        }
        if(this.#data.hasOwnProperty("offset")) {
            document.documentElement.style.setProperty("--cart-offset",this.#data.offset);
        }
        if(this.#data.hasOwnProperty("height")) {
            document.documentElement.style.setProperty("--cart-height",this.#data.height);
        }
    }

    data() {
        return this.#data
    }
}
customElements.get('a-drawer-cart') || customElements.define('a-drawer-cart', drawerCartComponent)
</script>
